<div class="container">
  <div class="row">
    <div class='mx-auto'>
       <%= image_tag 'Nikki_logo-removebg-preview.jpg' %>
       </img>
          <p>思ったこと、考えたこと、気軽に投稿してみよう</p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to 'ログインする',new_customer_session_path, class: "btn btn-sm btn-block mb-3 sign_in" ,style:"background-color: #badcad" %>
        </div>
        <div class="row">
          <%= link_to '新規登録する',new_customer_registration_path, class: "btn  btn-sm btn-block sign_up" ,style:"background-color: #badcad" %>
        </div>
      </div>
    </div>
  </div>
</div>
